body::before{
	background-image: url('images/bg.svg');
	background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    opacity: 0.9;
    background-position:10 0;

}