body:before{
	background-image: url('images/bg.svg');
	background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    opacity: 0.9;
}
#card-1{
	background-image: url('images/oj.jpg');
	height: 350px;
}
#card-2{
	font-size: 14px;
	line-height: 28px;
}
#subtext{
	font-size: 12px;
}
#card-3{
	background-image: url('images/card-3.jpg');
	height: 550px;
	background-size: contain;
	background-repeat: no-repeat;
}
#card-3-text{
	line-height: 20px;
}
#footer-text{
	font-size: 14px;
	line-height: 25px;
}