#card-3{
	background-image: url("download.png");
	height: 650px;
}
#card-3-text{
	font-size: 16px;
	line-height: 25px;
}
#custom-grid-width{
	max-width: 1200px;
}
#card-4{
	background-image: url("IMG_0268.jpg");
	background-size: cover;
	height: 400px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#card-4-text{
	font-size: 16px;
	line-height: 25px;
}
#footer{
	height: 150px;
}
#card-5-text{
	font-size: 16px;
	line-height: 25px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 30px;
	padding-right: 30px;

}
